*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

nav {
  width: 100%;
  height: auto;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.187);
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* position: fixed; */
  z-index: 100;
}

nav ul{
  height: 100%;
  list-style: none;
  display: flex;
  justify-content: right;
}

nav ul li {
  margin: 20px 30px 20px 5px;
}

nav ul li a {
  text-decoration: none;
}

.logo-div h2{
  margin: 0;
  margin-left: 20px;
  cursor: pointer;
}